
<html>
	<head>
		<title>Nat's Blog!</title>
	</head>	
<body>
	<div>
		<h1><strong>Welcome to my first website!</strong></h1>
	</div>

	<div>
		<h2><a href="">My First Post</a></h2>
		<h3>published: October 13th, 2018 @ 2:05 PM</h3>
		<p>Welcome to my blog! This is my first time making a webpage! This will be a space for interesting content and also a creative outlet!</p>
	</div>

	<div>
		<h2><a href="">My Second Post</a></h2>
		<h3>published: October 13th, 2018 @ 2:06 PM</h3>
		<p>Welcome to my blog! This is my first time making a webpage! This will be a space for interesting content and also a creative outlet!</p>
	</div>

	<div>
		<h2><a href="">My Third Post</a></h2>
		<h3>published: October 13th, 2018 @ 2:07 PM</h3>
		<p>Welcome to my blog! This is my first time making a webpage! This will be a space for interesting content and also a creative outlet!</p>
	</div>

	<div>
		<h2><em>Thanks for visiting!</em></h2>

</body>
</html>