
<html>
	<head>
		<title>Nat's Blog!</title>
	</head>	
<body>
	<div>
		<h1><strong>Welcome to my first website!</strong></h1>
		<p><em>Welcome to my blog! This is my first time making a webpage! This will be a space for interesting content and also a creative outlet!</em></p>
	</div>


{% for post in posts %}

	<div>
		<h2><a href="">{{ post.title }}</a></h2>
		<h3>published: {{ post.published_date }}</h3>
		
		<p>{{ post.text|linebreaksbr }}</p>
	</div>

{% endfor %}



	<div>
		<h2><em>Thanks for visiting!</em></h2>

</body>
</html>